<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="backgroundsetting" padding >
  <!-- Backgroud Image -->
  <ion-img class="bg" src="assets/bike.jpg"></ion-img>
	<ion-list>
		<ion-item>
		  <ion-label position="floating">Username</ion-label>
		  <ion-input type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  
		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-input type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	  
    </ion-list>
    <div class="center" >
      <ion-button fill="solid" color="dark" [routerLink]="['../register']">Sign  in</ion-button>
    </div>
    <div class="center" >
      <ion-button fill="solid" color="dark" [routerLink]="['../register']">Sign up</ion-button>
    </div>
</ion-content>
