<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-input required type ="text" placeholder = "Full name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type ="text" placeholder = "Enter Your Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input required type ="Password" placeholder = "Create a Password"></ion-input>
  </ion-item>
</ion-list>
<div class="row">
  <ion-button shape="round">Sign up</ion-button>
</div>
</ion-content>